@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply dark:bg-black;
  }
  svg {
    @apply dark:fill-white;
  }
  button {
    @apply rounded border-2 border-black hover:ring bg-yellow;
  }
}

.web-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(19, 5%);
  justify-content: center;
  /* justify-content:baseline; */
  .col-start-7 {
    grid-column: 7;
  }
  .col-start-11 {
    grid-column: 11;
  }
  .col-start-15 {
    grid-column: 15;
  }
  .col-start-19 {
    grid-column: 19;
  }

  .linebreak {
    grid-column-end: -1;
  }
  .row-1 {
    grid-row-start: 1;
  }
  .row-2 {
    grid-row-start: 2;
  }
  .row-3 {
    grid-row-start: 3;
  }
  .row-4 {
    grid-row-start: 4;
  }
  .row-5 {
    grid-row-start: 5;
  }
  .row-6 {
    grid-row-start: 6;
  }
  .row-7 {
    grid-row-start: 7;
  }
  .row-8 {
    grid-row-start: 8;
  }
  .row-9 {
    grid-row-start: 9;
  }
  .row-10 {
    grid-row-start: 10;
  }
}
