@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply dark:bg-black;
  }
  svg {
    @apply size-full dark:fill-white;
  }
  button {
    @apply size-full rounded object-contain hover:ring;
  }
}
@layer components {
  .trad-button {
    @apply rounded-lg bg-yellow px-2 py-1 hover:bg-white active:bg-yellow;
  }

  #controls {
    @apply flex gap-2 font-semibold;
    .directions-grid {
      @apply basis-1/2 text-lg;
    }
    .game-info,
    .end-text {
      @apply flex basis-1/2 flex-col justify-around;
    }
    p {
      @apply px-2 text-xl;
    }
  }
}

.web-grid {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(19, 5%);
  grid-auto-rows: 11.1%;
  .cell {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .linebreak {
    grid-column-end: -1;
  }
}

.directions-grid {
  display: grid;
  gap: 0.5rem;
  grid-template:
    "A B C" 1fr
    "D . E" 1fr
    "F G H" 1fr / 1fr 1fr 1fr;
}
